@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
    ---color-green: #38AF90;
    ---color-dark-grey:#797979;
    ---color-light-grey:#F0F0F0;
    ---color-red:#DD7E92;
    ---color-white: #FFFFFF;
    ---color-black:#383838;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: var(---color-green);
    height: 90px;
    width: 100%;
    position: fixed;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    color: #FFFFFF;
}

.nav-container h1 {
    font-size: 1.50rem;
}

.nav-container ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-container ul a {
    text-decoration: none;
    color: unset;
    margin: 29px;
}

.nav-container div {
    display: flex;
    align-items: center;
}

#news {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#news h2 {
    color: var(---color-dark-grey);
    font-size: 2.25rem;
    margin-top: 120px;
    margin-bottom: 40px;
}

.news-card {
    background-color: var(---color-light-grey);
    width: calc(100% - 40px);
    max-width: 960px;
    margin: 20px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.news-card-content {
    width: calc(100% - 80px);
    max-width: 920px;
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
}

.news-card h3 {
    font-size: 1.50rem;
    color: var(---color-green);
    margin-top: 16px;
}

.news-card h4 {
    font-size: 1rem;
    color: var(---color-dark-grey);
}

.line {
    width: 100%;
    border: 1px solid var(---color-green);
}

.news-card address {
    font-style: normal;
    font-size: 10px;
    color: var(---color-green);
    margin-top: 5px;
}

.news-card p {
    font-size: 10px;
    color: var(---color-dark-grey);
    margin-top: 15px;
    margin-right: 40px;
}

.text-icon {
    font-size: 14px;
    font-weight: 700;
    color: var(---color-red);
    font-style: normal;
    margin-bottom: 15px;
    margin-top: 7px;
}

.loading {
    background-color: var(---color-red);
    height: 67px;
    width: 244px;
    border-radius: 8px;
    font-weight: 700;
    color: var(---color-light-grey);
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 56px;
}

#games {
    background-color: var(---color-light-grey);
    max-height: 1300px;
}

#games h2 {
    font-size: 2.25rem;
    color: var(---color-green);
    padding-top: 36px;
    padding-bottom: 73px;
    text-align: center;
}

#games img {
    max-width: 100%;
    height: 168.54;
    border-radius: 8px 8px 0 0;
}

.container-card-game {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.card-game {
    width: calc(100% - 30px);
    max-width: 290px;
    margin: 15px;
    background-color: var(---color-white);
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.content-card-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-card-game {
    font-size: 18px;
    color: var(---color-dark-grey);
    margin-top: 20px;
    margin-bottom: 0;
}

.description {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 13px;
}

.description p {
    font-size: 12px;
    color: var(---color-dark-grey);
}

.description-complement {
    font-size: 14px;
    color: var(---color-green);
    font-weight:700;
    font-style: normal;
    margin-right: 3px;
}

.game-note {
    font-size: 36px;
    color: var(---color-green);
    font-weight: 700;
    margin-bottom: 15px;
}

.title-form {
    font-size: 2.25rem;
    color: var(---color-dark-grey);
    margin-top: 39px;
    margin-bottom: 40px;
    text-align: center;
}

.card-form {
    background-color: var(---color-light-grey);
    border-radius: 8px;
    width: calc(100% - 20px);
    max-width: 790px;
    min-height: 522px;
    margin-bottom: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin-top: 52px;
    margin-bottom: 21px;
}

.text-box {
    width: calc(100% - 20px);
    max-width: 642px;
    height: 50px;
    border: 1px solid var(---color-dark-grey);
    border-radius: 4px;
    font-size: 16px;  
}

::placeholder {
    padding-left: 22px;
}

.form-questions {
    width: 100%;
    max-width: 642px;
    margin: 20px auto;
}

.question {
    font-size: 16px;
    color: var(---color-dark-grey);
}

.platform-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 31px;
}

.option label {
    font-size: 16px;
    color: var(---color-dark-grey);
}

.notification {
    font-size: 16px;
    color: var(---color-dark-grey);
}

.container-selection-button {
    width: calc(100% - 50px);
    max-width: 790px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.send {
    width: 244px;
    height: 67px;
    border: 0px;
    border-radius: 8px;
    background-color: var(---color-red);
    color: var(---color-white);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 25px;
}

.clean {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    border: 2px solid var(---color-red);
    background-color: var(---color-white);
    color: var(---color-red);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 25px;
}

footer {
    height: 190px;
    max-height: 300px;
    background-color: var(---color-black);
    color: var(---color-white);
    font-size: 14px;
}

.footer-content {
    width: calc(100% - 35px);
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 74px;
}

.footer-link {
    margin: 0 37px;
}

.footer-link a {
    text-decoration: none;
    color: var(---color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}