@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
    ---color-green: #38AF90;
    ---color-dark-grey:#797979;
    ---color-light-grey:#F0F0F0;
    ---color-red:#DD7E92;
    ---color-white: #FFFFFF;
    ---color-black:#383838;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: var(---color-green);
    height: 90px;
    width: 100%;
    position: fixed;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    color: #FFFFFF;
}

.nav-container ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-container ul a {
    text-decoration: none;
    color: unset;
    margin: 29px;
}

.nav-container div {
    display: flex;
    align-items: center;
}

#news {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#news h2 {
    color: var(---color-dark-grey);
    font-size: 36px;
    margin-top: 120px;
    margin-bottom: 40px;
}

.news-card {
    background-color: var(---color-light-grey);
    height: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}

.news-card h3 {
    font-size: 24px;
    color: var(---color-green);
    margin-top: 16px;
    margin-left: 40px;
}

.news-card h4 {
    font-size: 16px;
    color: var(---color-dark-grey);
    margin-left: 40px;
}

.line {
    width: 880px;
    margin-left: 40px;
    border: 1px solid var(---color-green);
}

.news-card address {
    font-style: normal;
    font-size: 10px;
    color: var(---color-green);
    margin-left: 40px;
    margin-top: 5px;
}

.news-card p {
    font-size: 10px;
    color: var(---color-dark-grey);
    margin-left: 40px;
    margin-top: 15px;
    margin-right: 40px;
}

.text-icon {
    font-size: 14px;
    font-weight: 700;
    color: var(---color-red);
    font-style: normal;
    margin-left: 40px;
    margin-bottom: 15px;
    margin-top: 7px;
}

.loading {
    background-color: var(---color-red);
    height: 67px;
    width: 244px;
    border-radius: 8px;
    font-weight: 700;
    color: var(---color-light-grey);
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 56px;
}

#games {
    background-color: var(---color-light-grey);
    max-height: 1300px;
}

#games h2 {
    font-size: 36px;
    color: var(---color-green);
    padding-top: 36px;
    padding-bottom: 73px;
    text-align: center;
}

#games img {
    width: 300px;
    height: 168.54;
    border-radius: 8px 8px 0 0;
}

.container-card-game {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.card-game {
    height: 326px;
    background-color: var(---color-white);
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.content-card-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-card-game {
    font-size: 18px;
    color: var(---color-dark-grey);
    margin-top: 20px;
    margin-bottom: 0;
}

.description {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 13px;
}

.description p {
    font-size: 12px;
    color: var(---color-dark-grey);
}

.description-complement {
    font-size: 14px;
    color: var(---color-green);
    font-weight:700;
    font-style: normal;
    margin-right: 3px;
}

.game-note {
    font-size: 36px;
    color: var(---color-green);
    font-weight: 700;
    margin-bottom: 15px;
}

.title-form {
    font-size: 36px;
    color: var(---color-dark-grey);
    margin-top: 39px;
    margin-bottom: 40px;
    text-align: center;
}

.card-form {
    background-color: var(---color-light-grey);
    border-radius: 8px;
    width: 790px;
    height: 522px;
    margin-bottom: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.taxt-box {
    display: flex;
    flex-direction: column;
    width: 642px;
    height: 120px;
    margin-top: 52px;
    justify-content: space-between;
}

.box-name {
    height: 50px;
    border: 1px solid var(---color-dark-grey);
    border-radius: 4px;
}

.box-email {
    height: 50px;
    border: 1px solid var(---color-dark-grey);
    border-radius: 4px;
}

::placeholder {
    font-size: 16px;
    padding-left: 22px;
}

.alternative-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 0px;
    padding-left: 0px;
}